<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cabeçalho</title>
</head>
<body>
  <div th:fragment="header" th:class="cabecalho">
    <h1>Conteúdo do Cabeçalho</h1>
      <a href="/template" th:href="@{/template}">Início</a>
      <span> | </span>
      <a href="/listaLivrosTemplate" th:href="@{/listaLivrosTemplate}">Lista de Livros</a>
      <span> | </span>
      <a href="/cadastroLivro" th:href="@{/cadastroLivro}">Cadastrar Livro</a>
    <hr />
  </div>
</body>
</html>