<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="pt-BR"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Livros</title>
</head>
<body>
<form method="post" th:action="@{/listaLivroTemplate}" th:object="${livroRequest}">
<div th:fragment="listaLivros">
  <h1>Cadastro de Livro</h1>
  <br/>
  <table>
    <tbody>
      <tr>
        <td>Nome:</td>
        <td><input type="text" size="50"></td>
      </tr>
      <tr>
        <td>Preço:</td>
        <td><input type="text" size="20"></td>
      </tr>
      <tr>
        <td>Categoria:</td>
        <td>
          <select name="Categoria">
            <option name="ROMANCE" value="Romance">Romance</option>
            <option name="BIOGRAFIA" value="Biografia">Biografia</option>
            <option name="FICCAO" value="Ficção">Ficção</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Autoria:</td>
        <td><input type="text" size="50"></td>
      </tr>
      <tr>
        <td>ISBN13:</td>
        <td><input type="text" size="50"></td>
      </tr>
      <tr>
        <td colspan="2"><button>Gravar</button></td>
      </tr>
    </tbody>
  </table>
</div>
</form>
</body>
</html>